.editionCard {
  color: white;
  margin: 0.5em;
  padding-bottom: 0.5em;
  flex-basis: 23%;
  min-width: 20vmax;
  min-height: 13vmax;

  .type {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    background-color: black;
    font-size: 0.85vmax;
  }

  .details {
    .title {
      display: flex;
      height: 5vmax;
      padding-top: 0.5em;
      padding-left: 1.5em;
      padding-right: 1em;
    }

    .date {
      font-size: 1vmax;
      padding-left: 1.5em;
      padding-right: 1em;
      padding-bottom: 0.7em;
    }

    .info:after {
      content: "";
      display: table;
      clear: both;
    }

    .info {
      font-size: 0.85vmax;
      display: block;
      color: #616264;
      margin-left: 1.5em;
      margin-right: 1.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      background-color: white;
      border-radius: 4px;

      .item {
        align-items: center;
        text-align: center;
        float: left;
        width: 33.33%;
      }

      .item .value {
        font-weight: 600;
      }

      .separator {
        float: left;
        background-color: #707070;
        height: calc(2vmax);
        width: 0.1em;
      }
    }
  }
}

.event-bg-0 {
  background-size: cover;
  background-image: url("../imgs/event-bg-0.png");
}

.event-bg-1 {
  background-size: cover;
  background-image: url("../imgs/event-bg-1.png");
}

.event-bg-2 {
  background-size: cover;
  background-image: url("../imgs/event-bg-2.png");
}

.event-bg-3 {
  background-size: cover;
  background-image: url("../imgs/event-bg-3.png");
}
