.recentEditions {
  margin: 1em;

  .banner {
    font-size: 1.2vmax;
  }

  .view-all {
    margin-left: 8px;
    text-decoration: none;
  }

  .editions {
    margin-top: 2vmax;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .title {
      font-size: 1.2vmax;
    }
  }
}

#collaborate {
  background-color: #f4f4f4;

  .item.submit {
    display: inline-block;
    margin-left: 12vmax;
    width: 35%;

    @media only screen and (max-width: 480px) {
      width: 65%;
    }
  }

  .title {
    font-size: 2vmax;
    font-weight: 600;

    @media only screen and (min-width: 481px) {
      margin-bottom: 3vmax;
    }
  }

  .button-wrapper {
    @media only screen and (max-width: 480px) {
      display: none;
    }
  }

  .submit-talk-button {
    margin-top: 2vmax;
    padding: 1vmax;
    font-size: 1vmax;
    display: inline-block;
    color: white;
    background-color: #11aa58;
    border-radius: 4px;
    text-decoration: none;
    border: none;
  }

  .item.steps {
    display: inline-block;
    margin-left: 2vmax;
    width: 40%;

    @media only screen and (max-width: 480px) {
      margin-left: 12vmax;
      margin-top: 4vmax;
      width: 80%;
    }
  }

  .steps .img.pen {
    background-image: url("../imgs/pen.png");
  }

  .steps .img.file {
    background-image: url("../imgs/file.png");
  }

  .steps .img.contact-us {
    background-image: url("../imgs/contact-us.png");
  }

  .step {
    padding-bottom: 1vmax;
    .img {
      width: 4vmax;
      height: 4vmax;
      display: inline-block;
      background-size: cover;
    }
    .text {
      vertical-align: top;
      margin-left: 2vmax;
      display: inline-block;
      width: 40%;

      @media only screen and (max-width: 480px) {
        width: 60%;
        font-size: 1.5vmax;
      }
    }
  }
}

#collaborate > .button-wrapper {
  display: none;

  @media only screen and (max-width: 480px) {
    display: block;
    text-align: center;
  }
}

#aboutus {
  margin-left: 4vmax;

  .title {
    font-size: 1.5vmax;
    font-weight: 600;
  }

  .item {
    display: inline-block;
    width: 40%;

    @media only screen and (max-width: 480px) {
      font-size: 1.5vmax;
      width: 90%;
    }
  }

  .background {
    display: inline-block;
    height: auto;
    min-height: 27vmax;
    width: 40%;
    margin-top: -5vmax;
    margin-bottom: -5vmax;
    margin-left: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;

    @media only screen and (min-width: 1025px) {
      background-image: url("../imgs/colloborate-bg-2x.png");
    }

    @media only screen and (min-width: 481px) and (max-width: 1024px) {
      background-image: url("../imgs/colloborate-bg.png");
      width: 60%;
      margin-left: 0px;
      min-height: 30vmax;
    }

    @media only screen and (max-width: 480px) {
      display: none;
    }
  }

  .feedback-link {
    font-weight: 600;
    color: #2680eb;
    text-decoration: none;
  }
}

#footer {
  background-color: #f4f4f4;
  width: 100%;
  overflow: hidden;

  .item {
    margin-top: 2vmax;
    margin-left: 5vmax;
    display: inline-block;
    width: 40%;
  }

  .bold {
    font-weight: 600;
  }

  .social-links a {
    display: inline-block;
    width: 3vmax;
    height: 3vmax;
    background-size: cover;
    margin-right: 2px;
  }

  .instagram {
    background-image: url("../imgs/instagram.svg");
  }
  .twitter {
    background-image: url("../imgs/twitter.svg");
  }
  .linkedin {
    background-image: url("../imgs/linkedin.svg");
  }
  .youtube {
    margin-left: 2px;
    background-image: url("../imgs/youtube.svg");
  }
  .meetup {
    width: 3.5vmax !important;
    height: 3.5vmax !important;
    background-image: url("../imgs/meetup.png");
  }

  .copyright {
    color: black;
    text-align: center;
    margin-top: 2vmax;
    margin-bottom: 1vmax;
  }
}
