<section id="action" class="feature">
  <div class="tagline">
    <% if item[:tagline] %>
      <p><%= @item[:tagline] %></p>
    <%end %>
  </div>
    <div class="row actions">
        <div class="large-5 columns participate">
            <% if item[:participate] %>
                <a href="<%= @item[:participate] %>" target="_blank" rel="nofollow"
                    onclick="ga('send', 'event', 'participate', 'participate')">
                    <h4>Participate</h4>
                </a>
                <p>
                    to learn exciting new stuff <br />
                    <small>(and to connect with fellow geeks)</small>
<!--                    <small style="color: red;"><br/>Limited slots Available, Will reach out to you if you get one among them...</small>-->
                </p>
            <% else %>
                <a href="javascript:void(0)">
                    <h4><strike>Participate</strike></h4>
                </a>
                <% if start_date.future? %>
                  <%if item[:registrationopen] === "false" %>
                    <p>
                      Registrations Closed, We had only limited seats for the workshop <br />
                      <small>(sorry, but check out next vodQA)</small>
                    </p>
                  <%else %>
                    <p>
                      registrations not yet open <br />
                      <small>(please check out in a few days)</small>
                    </p>
                  <%end %>
                <% else %>
                    <p>
                        registrations closed <br />
                        <small>(sorry, but check out next vodQA)</small>
                    </p>
                <% end %>
            <% end %>
        </div>
        <div class="large-2 columns participate-or-talk">
            <hr class="show-for-small" />
            <h6 class="hide-for-small delimiter">&laquo; or &raquo;</h6>
        </div>
        <div class="large-5 columns talk">
            <% if item[:talk] %>
                <a href="<%= @item[:talk] %>" target="_blank" rel="nofollow"
                    onclick="ga('send', 'event', 'talk', 'talk')">
                    <h4>Present
                    </h4>
                </a>
                <p>to share exciting new stuff <br />
                <small>(accepted for this or subsequent editions)</small>
                </p>
            <% else %>
                <a href="javascript:void(0)">
                    <h4><strike>Talk</strike></h4>
                </a>
                <% if start_date.future? %>
                    <p>
                        registrations not yet open <br />
                        <small>(please check out in a few days)</small>
                    </p>
                <% else %>
                    <p>
                        registrations closed <br />
                        <small>(sorry, but check out next vodQA)</small>
                    </p>
                <% end %>
            <% end %>
        </div>
    </div>
</section>