<% if @item[:webinar].blank? || @item[:webinar] == "true"%> 
    <section id="location" class="feature">
        <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
            <h2>Location</h2>
        </div>

        <div class="row">
            <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
                <p>
                    <span>ThoughtWorks Technologies Pvt Ltd</span>
                    <span>KGiSL Campus</span>
                    <span>365, Thudiyalur Road, Saravanampatti</span>
                    <span>Coimbatore</span>
                    <span><small><a href="https://www.google.co.in/maps/place/ThoughtWorks+Technologies+(India)+Pvt+Ltd./@11.0828914,76.9987097,15z/data=!4m5!3m4!1s0x0:0xce2d3eb9118c52e8!8m2!3d11.0828914!4d76.9987097" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
                </p>
            </div>

            <div class="large-8 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <iframe align="center" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15661.634551458805!2d76.9987097!3d11.0828914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce2d3eb9118c52e8!2sThoughtWorks+Technologies+(India)+Pvt+Ltd.!5e0!3m2!1sen!2sin!4v1474870503034" width="640" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
<% end %>
