$green-color: #008731;

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1vmax;
}

a {
  text-decoration: none;
}

.wave-seperator {
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 7vmax;
  }

  .shape-fill {
    fill: white;
  }
}

.wave-seperator.invert {
  transform: rotate(180deg);
}

.wave-seperator.invert svg {
  transform: rotateY(180deg);
}
